$app-white: #ffffff;
$app-red: #e81123;
$app-black: #000000;
$app-gray: #949494;
$app-button-active: #0BD3FF;

$app-border: 1px solid #bdbdbd;

body,
input {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
}
